PROJECT_NAME=auth

REDIS_HOST=redis
REDIS_PORT=6379

POSTGRES_PASSWORD=123qwe
POSTGRES_HOST=postgesql
POSTGRES_PORT=5432
POSTGRES_DB_NAME=users
POSTGRES_USER=postgres

POSTGRES_SCHEME=postgresql+asyncpg
