{% extends "layout.html" %}

{% block body %}

<div class="conteiner-fluid mx-4">
	<input type="text" id="user_id" value="{{ user_id }}" hidden>
	<div class="row">
		<!-- Film 1 -->
		<div class=" t1 col-sm-6 col-md-6 col-lg-2 mb-10 mt-2">
			<img src="{{ url_for('static', path='/img/t1.png') }}" class="img-fluid rounded" alt="t1">
			<button class="btn btn-primary mt-2" onclick="createParty(event)" id="ff285a7d-6d87-41a2-9573-09558c3efac6">Watch together</button>
		</div>
		<div class=" t1 col-sm-6 col-md-6 col-lg-4 mb-10 mt-2">
			<div>A human soldier is sent from 2029 to 1984 to stop an almost indestructible cyborg killing machine, sent from the same year, which has been programmed to execute a young woman whose unborn son is the key to humanity's future salvation.
			</div>
		</div>
		<!-- Film 2 -->
		<div class=" t2 col-sm-6 col-md-6 col-lg-2 mb-10 mt-2">
			<img src="{{ url_for('static', path='/img/t2.png') }}" class="img-fluid rounded" alt="t1">
			<button class="btn btn-primary mt-2" onclick="createParty(event)" id="ff285a7d-6d87-41a2-9573-09558c3efac7">Watch together</button>
		</div>
		<div class=" t2 col-sm-6 col-md-6 col-lg-4 mb-10 mt-2">
			<div>A cyborg, identical to the one who failed to kill Sarah Connor, must now protect her ten year old son John from an even more advanced and powerful cyborg.
			</div>
		</div>
	</div>
</div>

<script>
	function createParty(event) {
        user_id = document.querySelector('#user_id').value;
        film_id = event.srcElement.id;

        party_creation_message = {
            "film_id": film_id,
            "users_ids": [user_id]
        };

        console.log(JSON.stringify(party_creation_message));

        fetch('http://localhost:8002/party-manager-service/api/v1/broker/party-creation', {
            method: 'POST',
            headers: {
            	'Content-Type': 'application/json'
            },
            body: JSON.stringify(party_creation_message)
        })
        .then(response => response.json())
        .then(data => {
            window.location.replace(data['redirect_url']);
        })
    };
</script>


{% endblock %}
